body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #F4F8FB;
}
.fa-btn {
    margin-right: 6px;
}
.btn-file {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 100px;
    cursor: pointer;
}
.btn-file .fa-plus{
    line-height: 95px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn-delete-image{
    padding: 3px 7px;
    border-radius: 0 3px 0 0;
}